html {
    font-family: Arial, Helvetica, sans-serif;
    width: 940px;
    margin: 0 auto;
}

main {
    position: relative;
}

header {
    text-align: center;
    color: #666666;    
}

header div {    
    width: 100%;    
    background-image: linear-gradient(to right, #e6e6e6 0%,  #e6e6e6 30%, transparent 70%);
    padding: 5px;    
    margin: 0 auto;          
}

.interna {
    border-radius: 20px;
    width: 50%;
    height: 80%;
    background-image: none;
    background-color: white;
    margin: 5px auto;         
}

img {
    margin: 5px 5px 7px 5px;
    height: 27px;
    width: 27px;   
}

.esquerda {
    float: left;
    width: 33%;
    height: 100%;
    background-color: #e6e6e6;   
    line-height: 1.21;
    padding-left: 5px;
    padding-top: 5px;
    
}

.direita {    
    float: right;
    width: 65%;
    height: 100%;
    top: 0;
    right: 0;
    text-align: justify;
    padding-left: 5px;
}

h1 {
    font-size: 40px;
    font-weight: bold;
    text-transform: uppercase;
    line-height: 1;   
}

h2 {
    color: #808080;
    font-size: 25px;
    font-weight: bold;
    margin: 30px 0 7px 0;
}

.cargo, .empresa {
    font-size: 20px;
    font-weight: bold;
    margin: 10px 0 3px 0;
}

.cargo {
    margin-top: 15px;
}

.empresa {
    color: #808080;
}

h3, h4 {
    font-weight: bold;
    margin-top: 10px;
    margin-right: 15px;
}

body {
    line-height: 1.5;
    
}

.link {
    display: flex;
    align-items: center;
}

.data {
    float: right;
    font-size: 20px;
    font-weight: bold;
}